*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
facebook-android-sdk-4.3.0/*

.idea/encodings.xml

.idea/modules.xml

.idea/modules.xml

.idea/misc.xml

gradle/wrapper/gradle-wrapper.properties

.idea/modules.xml

app/src/debug/google-services.json

.idea/misc.xml
